@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Họ và tên: Nguyễn Quang Huy </p>
<p>Mã sinh viên:2210900105</p>
<p>Lớp: K22CNT4</p>
<p>Email:nguyenquanghuy285204@gmail.com</p>
<p>Điện thoại:0392842805</p>

